<!DOCTYPE html>
<html>
<head><title>Contact</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="contact-page">
   <div class="card">
  <h2>Contact Me</h2>
  <p>If you have any issues or questions, email me at:</p>
  <p><strong>111vinaymaury@gmail.com</strong></p>
  <p><a href="/">Back to Home</a></p>
  </div>
</body>
</html>
