<!DOCTYPE html>
<html>
<head><title>Photo Website</title><link rel="stylesheet" href="/style.css">
</head>
<body class="hoo-page">
  <div class="card center">
  <h1>Welcome to the Photo Site</h1>
  <button onclick="location.href='/login'">Login</button>
  <button onclick="location.href='/signup'">Create Account</button>
  <button onclick="location.href='/contact'">Contact</button>
  </div>
</body>
</html>
